@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
}

#header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #F7F4EA;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 10px;
}

.titulo-header {
    display: flex;
    gap: 15px;
    margin: 15px 0 10px;
}

#header .header-content .titulo-header h2 {
    color: #4B352A;
    font-weight: bold;
}

#header .header-content .titulo-header p {
    font-size: 13px;
}

#header .header-content .logo-icon {
    margin-top: 15px;
}

#header .header-content nav {
    display: flex;
    gap: 2rem;
    flex: 1;
    justify-content: flex-end;
}

#header .header-content .nav a {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

#header .header-content .btnAgendar {
    color: black;
    font-weight: 600;
    background-color: #ECDFCC;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#header .header-content .btnAgendar:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(109, 66, 30, 0.35);
    color: white;
}

#header .header-content .nav a:hover {
    color: #AB886D;
}

.hero {
    width: 100%;
    min-height: 85vh;
    background-image: url('../images/FundoHero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.titulo-hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 150px;
    margin-bottom: 80px;
}

.titulo-hero h1 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.titulo-hero p {
    font-size: 17px;
    color: #50545e;
}

.titulo-hero .beneficios {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.titulo-hero .beneficios li {
    color: #1f2937;
    font-weight: 550;
}

.image-hero {
    filter: drop-shadow(0 8px 22px rgba(109, 66, 30, 0.35));
}

.escolha h2 {
    color: #4B352A;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 280px;
}

.escolha {
    width: 100%;
    padding: 0;
}

.escolha .motivos {
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    position: relative;
    background-color: #ECDFCC;
    width: 100%;
}

.escolha .motivos .motivo h3 {
    color: #4B352A;
    font-weight: 900;
    font-size: 23px;
    margin: 30px 0 10px;
}

.escolha .motivos .motivo p {
    font-size: 16px;
}

.escolha .motivos .motivo {
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: relative;
    top: -150px;
    z-index: 2;
}

.escolha .motivos img {
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.escolha .motivos img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(109, 66, 30, 0.85);
}

.comentarios h2 {
    display: flex;
    justify-content: center;
    color: #4B352A;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: 100px 0 100px;
}

.grids-comentarios {
    display: flex;
    gap: 60px;
}

.box-comentarios {
    background-color: #fffdfd;
    border: 1px solid #ECDFCC;
    border-radius: 16px;
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comentarios .grids-comentarios .box-comentarios .avatar {
    border: 3px solid #4B352A;
    border-radius: 999px;
    margin-left: 20px;
    margin-top: 10px;
}

.comentarios .grids-comentarios .box-comentarios h4 {
    margin-top: 20px;
    margin-bottom: 13px;
}

.comentarios .grids-comentarios .box-comentarios span {
    color: #50545e;
    font-size: 15px;
}

.comentarios .grids-comentarios .box-comentarios p {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.box-comentarios:hover {
    border: 1px solid #AB886D;
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(109, 66, 30, 0.25);
}

.formulario {
    display: flex;
    justify-content: center;
    margin: 200px 0 80px;
}

.formulario #form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
    padding: 40px 60px;
    background-color: #fffdfd;
    border: 1px solid #4B352A;
    box-shadow: 0 10px 20px rgba(109, 66, 30, 0.25);
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
}

/* Título ocupa a linha inteira */
.formulario h3 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

/* Campos que devem ocupar a linha inteira */
.form-box.full {
    grid-column: 1 / -1;
}

/* Inputs padrão */
.form-box input,
.form-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #4B352A;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: 400;
}

.form-box label {
    display: block;
    font-weight: 600;
}

.formulario #form button {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    padding: 14px;
    margin: 10px 150px 0;
    border-radius: 8px;
    background-color: #4B352A;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.formulario #form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(109, 66, 30, 0.25);
    font-weight: 500;
}

.footer {
    margin-top: 100px;
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;
    background-color: #F7F4EA;
}

.footer h3, h4, p, span {
    color: #4B352A;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-brand {
    font-size: 20px;
    margin-top: 20px;
}

.footer-links {
    font-weight: 600;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-bottom {
    margin-top: 20px;
}